Source: minecraft-overviewer
Section: python
Priority: optional
Maintainer: Aaron Griffith <aargri@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python-support, cdbs (>= 0.4.49), python-all-dev, python2.6-imaging, python2.6-numpy, python2.6
XS-Python-Version: 2.6

Package: minecraft-overviewer
Architecture: any
Homepage: http://overviewer.org/
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, python2.6, python2.6-imaging, python2.6-numpy
Description: Generates large resolution images of a Minecraft map.
